 .header {
     background-color: rgb(35, 35, 174);
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     padding: 0 25px;
     height: 80px;
     align-items: center;
     position: fixed;
     top: 0;
     width: 100%;
     /* text-align: center; */
 }

 .logo img {
     height: 40px;

 }

 .search {
     /* background-color: rgb(35, 35, 174); */
 }

 .search input {
     height: 35px;
     width: 100%;
     outline: none;
     border: none;
     border-radius: 10px;
     padding: 10px;
     font-size: 16px;

 }

 .icons {
     text-align: right;

     display: flex;
     justify-content: end;
     gap: 10px;
 }

 .icons .fa {

     color: white;
     text-decoration: none;
     font-size: 22px;
     padding: 10px;
     transition: 0.3s;
 }

 .fa:hover {
     color: black;
 }

 .links {
     /* text-align: right; */
     background-color: rgb(35, 35, 174);
     /* display: none; */
     height: 0px;
     overflow: hidden;
     transition: height 0.6s;
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: fixed;
     z-index: 1000;

 }

 .links a {
     text-decoration: none;
     display: block;
     padding: 15px;
     font-size: 18px;
     color: white;
 }

 .links a:hover {
     background-color: red;
 }

 .showmylinks {

     height: 100vh;
 }

 @media (max-width:600px) {
     .header {
         grid-template-columns: auto auto;
         padding: 10px 5px;
         height: auto;
     }

     .search {
         grid-column: 2;
         grid-row: 2;
         grid-column: 1/span 2;
     }
 }